/* Estilos para el spinner */
.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
  z-index: 9999; /* Asegura que esté sobre otros elementos */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilos para el formulario popup */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #ccc;
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  z-index: 9999; /* Asegura que esté sobre otros elementos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para la tabla */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Fondo gris claro para filas pares */
}

/* Estilos para los botones */
button {
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease; /* Transición suave */
}

button:hover {
  background-color: #3e8e41; /* Color más oscuro al pasar el mouse */
}

/* Estilos específicos para los botones Modificar y Eliminar */
.modify-button {
  background-color: #2196F3; /* Azul */
}

.delete-button {
  background-color: #f44336; /* Rojo */
}

/* Otros estilos */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"], input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus, input[type="date"]:focus {
  outline: none;
  border-color: #04AA6D; /* Color de borde al enfocar */
}

/* Estilo para el botón de cerrar */
#closeButton {
  background-color: #f44336; /* Rojo */
  float: right;
}

#closeButton:hover {
  background-color: #cc0000; /* Color más oscuro al pasar el mouse */
  color: white;
}
